@media screen and (min-width: 992px) {
  * {
    margin: 0px;
    font-family: arial, sans-serif, tahoma;
  }

  .bg-grey {
    background: #f7f7f7;
  }


  section>.container {
    width: auto;
    margin: auto;
    display: block;
    align-items: center;
  }

  .section-title {
    margin: 30px;
  }

  /* BANNER IMAGE AND CENTER TEXT*/
  .banner-container {
    position: relative;
    text-align: center;
    color: whitesmoke;
  }

  .banner-container img {
    background-image: linear-gradient(rgba (34, 34, 34, 0.6),
        rgba(34, 34, 34, 0.6)),
      url(../images/banner.jpg);
    background-size: cover;
    width: 100%;
    height: 40vh;
  }

  #banner {
    position: absolute;
    text-align: center;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid whitesmoke;
    position: absolute;
    bottom: 5%;
  }

  /* NAVIGATION BAR */
  #nav-bar {
    background-color: whitesmoke;
    text-align: justify;
  }

  #nav-bar .container li {
    /* border-left: 2px solid #d3d3d3; */
    padding-left: 5px;
    padding-right: 8px;
  }

  .test {
    position: relative;
    width: 100px;
    margin-right: 10px;
  }

  /* icon color */
  #nav-bar i {
    color: rgba(26, 118, 223, 0.884);
  }

  /* Style the links inside the navigation bar */
  #nav-bar a {
    color: black;
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
  }

  /* Change the color of links on hover */
  #nav-bar a:hover {
    background-color: #ddd;
    text-decoration: dashed;
  }

  /* MỤC TIÊU NGHỀ NGHIỆP */
  #target {
    padding-top: 25px;
    padding-left: 50px;
    padding-right: 20px;
    text-align: justify;
    /* border: 5px solid red; */
  }

  #personal-info {
    padding-top: 25px;
    padding-left: 10px;
    /* border: 5px solid red; */
  }

  .hide {
    display: none;
  }

  #personal-info .icon {
    font-size: 20px;
    color: rgba(26, 118, 223, 0.884);
    padding-top: 10px;
  }

  #personal-info .info {
    list-style-type: none;
    padding-left: 10px;
  }

  /*style hyper link phần liên hệ*/
  #personal-info a:link,
  #personal-info a:visited {
    text-decoration: none;
    color: rgba(26, 118, 223, 0.884);
  }

  #personal-info a:hover,
  #personal-info a:active {
    text-decoration: underline;
    color: black;
  }

  /* LAYOUT section Job-info hàng 1*/
  #job-info>.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: top;
    justify-self: center;
  }

  .job-info-layout1 {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr auto;
    border: solid 2px rgb(212, 211, 211);
    justify-items: center;
    margin: 20px;
    padding: 5px;
    height: auto;
  }

  .job-info-title {
    align-self: center;
    text-align: justify;
    font-size: 1.5em;
    font-weight: bold;
  }

  .job-info-icon {
    align-self: center;
    text-align: center;
    font-size: 40px;
    color: #696969;
  }

  .job-info-content {
    grid-column: 1/-1;
    font-size: 17px;
  }

  .job-info-layout1 ul {
    list-style: none;
  }

  .job-info-layout1 li::before {
    content: "-";
    padding: 5px;
  }

  .color-bullet::before {
    content: "\2022";
    color: #199cdb;
    font-weight: bold;
    display: inline-block;
    width: 1em;
  }

  .hobby-container {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
  }

  .hobby-container div {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #199cdb;
  }

  .hobby-container i {
    padding: 20px;
    font-size: 20px;
    color: #199cdb;
  }

  .hobby-container p {
    margin-top: 10px;
    color: #199cdb;
  }

  .ranking {
    padding-left: 20px;
  }

  .ranking-border-blue {
    height: 2px;
    width: 50px;
    background-color: #199cdb;
    display: inline-block;
  }

  .ranking-border {
    height: 2px;
    width: 50px;
    background-color: lightslategrey;
    display: inline-block;
  }

  /* view more,less button */
  .hide-content {
    display: none;
  }

  .view-btn {
    grid-column: 1/-1;
    background-color: rgb(233, 227, 146);
    border: 1px solid rgb(233, 227, 146);
    border-radius: 60%;
    opacity: 0;
  }

  /* opacity khiến cho button bị transparent đi */
  .view-btn:hover {
    opacity: 1;
  }

  /* CHỨNG CHỈ GIẢI THƯỞNG */
  #certificate .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  #certificate .section-title {
    grid-column: 1/-1;
  }

  #certificate .cert-container {
    display: flex;
    column-gap: 10px;
    padding-top: 20px;
  }

  #certificate img {
    width: 95%;
    height: 120px;
  }

  #certificate ul {
    list-style: none;
  }

  #certificate li::before {
    content: "-";
    padding-right: 5px;
  }

  #certificate .line-break {
    border-top: 1px solid #d6c08d;
    grid-column: 1 / -1;
    margin: 20px 0;
  }

  .break {
    border-left: 1px solid #d6c08d;
    padding-left: 50px;
    margin-left: 10px;
  }

  /* DỰ ÁN */
  .project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
  }

  .project {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    align-content: normal;
    justify-items: stretch;
    border: solid 1px black;
  }

  #project img {
    width: 350%;
    height: auto;
    grid-column: 1 / -1;
  }

  .title {
    grid-column: 1 / -1;
    text-align: center;
  }

  .year {
    grid-column: 1 / -1;
    border: solid 1px black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  #project div:nth-child(n+3) {
    border: solid 1px black;
  }

  .border-radius {
    border-radius: 50%;
    border: 1px solid rgb(7, 155, 214);
    background-color: rgb(7, 155, 214);
  }

  /* FOOTER */
  #footer .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    height: 40px;
  }

  #footer .social {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
  }

  #footer .icon-border {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #199cdb;
    background-color: #199cdb;
    padding-left: 0.5px;
    padding-top: 1px;
    color: whitesmoke;
  }
}